.about{
    min-height: 100vh;
    display: flex;
}

.aboutContainer{
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    height: 70vh;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: right;
    padding: 2vmax;
    box-sizing: border-box;
}

.aboutContainer > p{
    font-family: 'roboto';
    text-align: right;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 60px;
    color: rgba(15, 15, 15, 0.822);
    font-size: 1.5vmax;
    width: 30%;
}

.aboutContainer2 {
    width: 80%;
    min-height: 100vh;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.281);
    position: relative;
    margin-top: 200px;
    margin-right: 50px;
    bottom: 0;
    box-sizing: border-box;
    /* padding: 2vmax; */
    display: flex;
    animation: aboutAnimation 1s ease-in forwards;
}

@keyframes aboutAnimation {
    to {
        transform: translateX(20%) translateY(-10%);
    }
}

.aboutContainer2 > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    color: rgba(17, 17, 17, 0.712);
    box-sizing: border-box;
}

.aboutContainer2 >  div:first-child {
    align-items: center;
}

.aboutAvatar {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    transition: all 1s;
}

.aboutAvatar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}


/* mobile */

@keyframes aboutAnimationPhone {
    to {
        transform: translateX(0%) translateY(0%);
    }
}
@media screen and (max-width:600px){
    .about{
        align-items: flex-end;
        background: transparent;
    }
    .aboutContainer{
        background: transparent;
        width: 100%;
        display: none;
    }
    .aboutContainer2{
        width: 100%;
        position: relative;
        flex-direction: column;
        animation: aboutAnimationPhone 1s ease-in forwards;
        background: transparent;
    }
    .aboutContainer2 > div:last-child > p{
        text-align: center !important;
        color: white;
    }
    .aboutAvatar{
        width: 100px;
        height: 100px;
        color: white;
    }
    .aboutContainer2 > div:nth-child(1) > h4, p{
        text-align: center !important;
        color: white;
    }
}


