.about {
    color: white;
    position: relative;
    padding: 20px;
}

.aboutContainer {
    height: 100px; /* Adjust this according to your needs */
}

.aboutContainer2 {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutContent {
    text-align: center;
}

.aboutAvatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.aboutHeading {
    size: 100px;
    margin: 10px 0;
}

.aboutSubtitle {
    margin: 10px 0;
    font-weight: 400;
}

.aboutText {
    word-spacing: 1.5px;
    line-height: 25px;
    letter-spacing: 1.5px;
    text-align: justify;
}
